.App {
  text-align: center;
}
body{
  background-color: #7289da;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.side-by-side-container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: auto;
  
}
.messages-list {
  width: auto;
  
}
.message-sender {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator{
  width: 10px;
}
@media screen and (max-width: 800px) {
  .side-by-side-container {
    flex-wrap: wrap;
    margin-top: 10vh;
  }
  .messages-list {
    width: 80vw;
    height: 65%;
    
  }
  .message-sender {
    width: 80vw;
    height: 50vh;
    margin-bottom: 20px;
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
